.box_group {
    white-space: wrap;
    text-align: left !important;
    padding-left: 0.5rem !important;
}

.construction {
    display: inline-block;
}

.table_title {
    display: flex;
    justify-content: space-between;
}
